Login.container {
    max-width: 500px;
    margin: 50px auto;
}
.card-category {
    color: rgba(255, 255, 255, .62);
    margin: 0;
    font-size: 20px;
    padding: 0;
}

.card-title {
    color: white;
    margin: 0 0 3px 0;
    min-height: auto;
    font-weight: 300;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    text-decoration: none;
}